<div class="plan">

    <h1 class="e-title">Events</h1>
    
    <form action="/events" method="GET">
        <label class="city-label" for="location_search">Type in the name of your city:</label>
        <input class="city-search" type="text" name="location" id="location">
    
        <input type="submit" value="Search">
    </form>
</div>


<% events.forEach(function(event) { %>
    <div class="event">
        <h3>
            <%= event.title %>
        </h3>
        <h4> Date & Start Time:
            <%= event.start_time %>
        </h4>
        <p> Description:
            <%= event.description %>
        </p>
        <a class="click-for-details" href="/events/<%= event.id %>">
            Click for details!
        </a>
    </div>
<% }) %>