<div class="restaurant">

    <h1>Farm to table restaurants!</h1>
    
    <form action="/restaurants/bylocation" method="GET">
        <label for="location_search">Type in the name of your city:</label>
        <input type="text" name="location" id="location">
    
        <input type="submit" value="Search">
    </form>
</div>

