<div id="container">

    

    <div class="row blankRow">
    </div>
    <div class="largeBox">
        <h2>How To Utilize Green & Grow:</h2>
        <p>Welcome! Green and grow is here to help you find all your sustainable living needs and resources in one place! If you are new to green and no-waste living, or if you just need a refresher, navigate to our New To Sustainability section below to learn all about how you can limit your impact on global climate change. Once you are ready to move on, check out the Discover Events and Restaurants page to search for sustainability events in your area. If you find one you are interested in, you can click Follow to keep track of it easily in your Profile page, otherwise click Add to Plan and create a day of it by adding a local Farm-To-Table restaurant to your plan. Finally, if you are looking for more information on how to live a greener life, check out the More Resources page below!</p>
    </div>
    <div class="row blankRow">
    </div>

    <div class="row smallBoxes">
        <div class="smallBox" id="one">
            <h2>New To Sustainable Living:</h2>
            <ul>
                <li>Learn the terminology and find out what "sustainability" really means</li>
                <li>Learn why a no-waste lifestyle is important</li>
                <li>Discover ways to improve your habits and limit your environmental footprint</li>
            </ul>
            <div class="details">
                <a class="details" href="/learn">More >></a>
            </div>
        </div>
        <div class="smallBox" id="two">
            <h2>Discover Events and Restaurants:</h2>
            <ul>
                <li>Find events to attend in your area</li>
                <li>Try out a new farm-to-table restaurant</li>
                <li>Make a day of it by putting together an event and a restaurants in a Plan</li>
            </ul>
            <div class="details">
                <a class="details" href="/events">More >></a>
            </div>
        </div>
        <div class="smallBox" id="three">
            <h2>More Resources:</h2>
            <ul>
                <li>Tips and Tricks to a greener life</li>
                <li>Check out the calculator that measures your carbon footprint</li>
                <li>Find ways to contribute to your local community's effort to go green</li>
            </ul>
            <div class="details">
                <a class="details" href="/more">More >></a>
            </div>
        </div>
    </div>

    <div class="row blankRow"></div>

    

    
</div>