<div class="learn">
    <h1>What does sustainability mean?</h1>
    <h4>The word sustainability is often tossed around in a somewhat careless manner and can start to sound like political jargon. But down to the heart of its meaning, sustainability is just about finding and enacting habits on a personal to global scale that will ensure the survival of life on this beautiful planet.  'Zero-Waste' and 'Green Living' are other common phrases associated with sustainability. Both terms are ways of describing those behaviors we want to enact to maintain a viable future for all creatures, by attemping to cut out the components of our lifestyles that create waste. </h4>
</div>
<div class="learn">
    <h2>What are some examples of green living practices?</h2>
    <h4>There are certain areas in our lives that produce a LOT of waste. For most people, the products they use in their kitchens and bathrooms lead to a huge collection of waste. Just think about all of the soap containers and food packaging that you've encountered in your life. The percentage of those containers that were actually recycled and made into a new product is very low. Meaning much of it still exists, sitting somewhere in the earth, either in a landfill or maybe causing an animal harm in their habitat. It is a harsh reality to consider, and something we all need to accept, that we need to make some really big changes if we are going to live a sustainable life and protect the future of this planet and the lives on it.</h4>
</div>

<div class="learn">
    <h2>AAaah! So Scary! What can I do???</h2>
    <h4>It can be stressful to think about, but putting that stress into action is the best solution! So what are some ways you can live greener?</h4>
    <ul>
        <li>Conserve water: Don't leave the faucet running when washing dishes or hands and limit the lenght and number of showers you take. And baths use much less water than showering!</li>
        <li>Stay away from fast fasion trends: When buying clothes, stay away from cheap and trendy clothes that don't last and invest in organic clothing that last longer and doesn't end up in a landfill. Fast fashion peices often are made with synthetics that create a lot of plastic to end up back in our water systems, so those sale leggings might not be worth the deal!</li>
        <li>Eat local: A great way to cut down on waste and be healthier is to buy from local organic farmers and growers whenever possible. These products have less packaging and don't come with the fertilizer footprint of store bought and processed foods.</li>
        <li>Choose greener and non-toxic product: We can limit out indoor and outdoor pollution by buying eco-friendly cleaners and body care products. And cutting down on packaging can be done by purchasing from companies that sell unpackaged soaps in tablet and bar form so we can reuse container rather than throwing them out!</li>
    </ul>
</div>

<div class="learn">
    <h1>PSA</h1>
    <p>When I was a kid, I remember hearing all the time to TURN OFF THE LIGHTS when you leave a room! Not just from parents, but on commmercials and on signs at school. Today we are not so worried about the costs of lighting and electricity since the LED lightbulb is so energy efficient. BUT! This has actually led us to waste MORE energy than the previous, non-LED lightbulbs since people are less concerned about turning lights off everything they leave a room and that message has been lost. So don't forget to flip the switch whenever you leave a room!!</p>
</div>