<div class="more">
    <h1>Learn More</h1>

</div>
<div class="more">
    <h2>This simulator, <a class="click-for-details" href="https://coolclimate.org/calculator">Cool Climate Calculator</a>, shows you your current carbon footprint and gives examples of ways you can cut back on waste!</h2>
</div>
<div class="more">
    <h2>Stay up to date on global climate change and science with the <a class="click-for-details" href="https://hbswk.hbs.edu/Pages/browse.aspx?HBSTopic=Environmental%20Sustainability">Harvard Buisness School.</h2>
</div>